.main {
  position: relative;
  width: 500px;
  height: 500px;
  margin: auto;
  overflow: hidden;

  .flower {
    position: absolute;
    width: 27px;
    height: 26px;
    top: 0;
    left: 0;
    background: url("../imgs/flower.png") no-repeat;
    background-size: 27px;
  }
  .flower-cover {
    position: absolute;
    width: 27px;
    height: 26px;
    animation: down 10s linear infinite;
  }
}


@for $i from 0 to 15 {


  .flower#{$i} {
    animation: flower#{$i} 5s linear infinite;
  }


  @keyframes flower#{$i} {
    $randomx:random(180);
    $target: $randomx + 360;
    0% {
      transform: rotate(#{$randomx}deg) ;
    }
    100% {
      transform: rotate(#{$target}deg) ;

    }
  }
}

@keyframes down {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  33% {
    transform: matrix(1, 0, 0, 1, 50, 173);
  }
  66% {
    transform: matrix(1, 0, 0, 1, 0, 346);
  }
  100% {
    transform: matrix(1, 0, 0, 1, -50, 520);
  }
}